# dependencies
pointathon/pointathon-settings/node_modules
pointathon/pointathon-settings/.pnp
pointathon/pointathon-settings/.pnp.js

# testing
pointathon/pointathon-settings/coverage

# production
pointathon/pointathon-settings/build

# misc
pointathon/pointathon-settings/.DS_Store
pointathon/pointathon-settings/.env.local
pointathon/pointathon-settings/.env.development.local
pointathon/pointathon-settings/.env.test.local
pointathon/pointathon-settings/.env.production.local

pointathon/pointathon-settings/npm-debug.log*
pointathon/pointathon-settings/yarn-debug.log*
pointathon/pointathon-settings/yarn-error.log*